/* =========================================== ABOUT PAGE ========================================= */
.about--container {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 3rem;
    margin-top: 15rem;
  }
  /*********** ABOUT RIGHT-SIDE **************/
  .about--right h2 {
    /*text-align: left;*/
    color: var(--color-white);
    background: linear-gradient(145deg, var(--color-primary), aqua);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .about--detail h3 {
    margin-top: 2rem;
    font-weight: 500;
    color: var(--color-light-black);
  }
  .about--detail p {
    margin-top: 0.5rem;
  }
  .about--detail--1 {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .about--detail--4 p a {
    display: block;
  }
  .in--this--section--container {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 0 1rem;
  }
  .in--this--section--container a {
    color: var(--color-light-black);
  }
  
  .in--this--section--container a:hover {
    text-decoration: underline var(--color-primary);
  }
  /*********** ABOUT LEFT-SIDE **************/
  .about--sidebar h3 {
    margin-top: 1rem;
    background: var(--color-primary);
    padding: 0.5rem;
    color: white;
    width: 100%;
  }
  .about--left {
    background: linear-gradient(145deg, var(--color-primary), aqua);
    box-shadow: -4rem 4rem 10rem rgb(0, 0, 0, 0.3);
    padding: 0 30px;
    height: 100vh;
  }
  .about--menu {
    margin-top: 1rem;
  }
  .about--menu li {
    height: 5rem;
    border-bottom: 1px solid var(--color-white);
  }
  .about--left li a {
    text-align: center;
    font-weight: 600;
    padding: 0 1rem;
    transition: var(--transition);
  }
  .about--left li a:hover {
    font-weight: 700;
  }
  /*************** TABLETS ABOUT PAGE*****************/
  @media screen and (max-width: 1024px) {
    .container {
      width: var(--container-width-md);
    }
    .about--container {
      grid-template-columns: 1fr;
    }
    .about--left {
      height: fit-content;
    }
    .about--detail {
      text-align: center;
    }
    .about--image img {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  /*************** MOBILE PHONES ABOUT PAGE**************/
  @media screen and (max-width: 600px) {
    .container {
      width: var(--container-width-sm);
    }
    .about--container {
      grid-template-columns: 1fr;
    }
    .about--left {
      margin-top: -8rem;
      height: fit-content;
      box-shadow: none;
    }
    .in--this--section--container {
      grid-template-columns: 1fr;
    }
  }
  