/* ============================================ HEALTH ============================================ */
.health--container {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 3rem;
    margin-top: 15rem;
  }
  /*********** HEALTH LEFT-SIDE **************/
  .health--sidebar h3 {
    margin-top: 1rem;
    background: var(--color-primary);
    padding: 0.5rem;
    color: white;
    width: 100%;
  }
  .health--left {
    background: linear-gradient(145deg, var(--color-primary), aqua);
    box-shadow: -4rem 4rem 10rem rgb(0, 0, 0, 0.3);
    padding: 0 30px;
    height: 100vh;
  }
  .health--menu {
    margin-top: 1rem;
  }
  .health--menu li {
    height: 5rem;
    border-bottom: 1px solid var(--color-white);
  }
  .health--left li a {
    text-align: center;
    font-weight: 600;
    padding: 0 1rem;
    transition: var(--transition);
  }
  .health--left li a:hover {
    font-weight: 700;
  }
  /***************** HEALTH RIGHT *****************/
  .health--right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .health--right p {
    margin-top: -2rem;
  }
  .health--right h2 {
    color: var(--color-light-black);
  }
  .health--card {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 2rem;
  }
  .health--card .card--details p {
    margin-top: 1rem;
  }
  .health--card .card--details a h4 {
    color: var(--color-light-black);
  }
  .health--card .card--details a h4:hover {
    color: var(--color-bg1);
  }
  .card--image img {
    border-radius: 5px;
  }
  
  /***************** TABLETS ****************/
  @media screen and (max-width: 1024px) and (orientation: landscape) {
    .container {
      width: var(--container-width-md);
    }
    h1 {
      font-size: 2.2rem;
    }
    h2 {
      font-size: 1.7rem;
    }
    h3 {
      font-size: 1.4rem;
    }
    h4 {
      font-size: 1.2rem;
    }
  
    .health--container {
      grid-template-columns: 1fr;
    }
    .health--left {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1024px) and (orientation: portrait) {
    .container {
      width: var(--container-width-md);
    }
    h1 {
      font-size: 2.2rem;
    }
    h2 {
      font-size: 1.7rem;
    }
    h3 {
      font-size: 1.4rem;
    }
    h4 {
      font-size: 1.2rem;
    }
  
    .health--container {
      grid-template-columns: 1fr;
      margin-left: 10rem;
    }
    .health--left {
      height: fit-content;
    }
  }
  
  /***************** PHONES ****************/
  @media screen and (max-width: 600px) {
    .container {
      width: var(--container-width-sm);
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.2;
    }
    h4 {
      font-size: 0.9rem;
    }
    .health--container {
      margin-left: 1rem;
      margin-top: -4rem;
    }
    .health--right p {
      text-align: center;
    }
    .health--card {
      grid-template-columns: 1fr;
    }
    .card--details {
      text-align: center;
    }
  }