*{
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}

:root{
    /**** Colors *****/
    --color-primary: #007FFF;
    --color-bg1:#6CB4EE;
    --color-bg2: #89CFF0;
    --color-white: #fff;
    --color-black: rgb(0,0,0);
    --color-light: rgba(225, 225, 225, 0.7);
    /***** width *****/
    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    /***** Transition *****/
    --transition: all 400ms ease;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: var(--white);
    color: var(--color-black);
    line-height: 1.7;

}
h1,
h2,
h3,
h4,
h5{
    line-height: 1.3;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}
.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}
section{
    margin-top:5rem ;
}
section h2{
    text-align: center;
    padding: 1rem;
}
a{
    color: var(--color-white);
}
/****** NAVBAR *******/
nav{
    background: var(--color-bg1);
    box-shadow: 1rem 0rem 1rem rgb(0,0,0,0.3);
}
.nav--container1{
    display: grid;
    grid-template-columns: 50% 50%;

}
.logo{
    width: 150px;
}
.nav--logo{
    display: flex;
    align-items: center;
    margin-top: 1.5rem ;
}
.logo--text{
    margin-top:-1.5rem ;
    margin-left: -2.0rem;
}
.nav_links_search{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.nav--menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 30vw;
}
.nav--menu li a:hover{
color: var(--color-primary);
}
.toggle--nav{
    display: none;
}
.search{
    margin-top: 1rem;
}
.nav--input{
    width: 28vw;
    height: 2rem;
    padding: 0 0.5rem;
}
.search--logo{
    margin-left: -0.3rem;
    display: inline-block;
    color: var(--color-white);
    background: var(--color-primary);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.search--logo i{
    font-size: 1.2rem;
    padding: 0 8px;
}