* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  /**** Colors *****/
  --color-primary: #007fff;
  --color-bg1: #6cb4ee;
  --color-bg2: #89cff0;
  --color-white: #fff;
  --color-black: rgb(0, 0, 0);
  --color-light-black: rgb(63, 62, 62);
  --color-dark-light: rgba(225, 225, 225, 0.091);
  --color-light: rgba(225, 225, 225);
  /***** width *****/
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
  /***** Transition *****/
  --transition: all 400ms ease;
}
body {
  font-family: "Montserrat", sans-serif;
  background: var(--color-white);
  color: var(--color-black);
  line-height: 1.7;
  letter-spacing: 0.1px;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
section {
  margin-top: 10rem;
}
section h2 {
  text-align: center;
  padding: 1rem;
}
a {
  color: var(--color-white);
}
/****** NAVBAR *******/
nav {
  box-shadow: 1rem 0rem 1rem rgb(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 11rem;
  top: 0;
  z-index: 45;
  transition: var(--transition);
}
.nav--container {
  background: var(--color-bg1);
  position: fixed;
  width: 100%;
  height: 11rem;
  z-index: 90;
}
.nav--container1 {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 24vh;
}
.logo {
  width: 150px;
}
.nav--logo {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-left: -3.5rem;
}
.logo--text {
  margin-top: -1.5rem;
  margin-left: -2rem;
}
.nav_links_search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.nav--menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 30vw;
}
.nav--menu li a:hover {
  color: var(--color-primary);
}
.toggle--nav {
  display: none;
}
.search {
  margin-top: 1rem;
}
.nav--input {
  width: 28vw;
  height: 2rem;
  padding: 0 0.5rem;
}
.search--logo {
  margin-left: -0.3rem;
  display: inline-block;
  color: var(--color-white);
  background: var(--color-primary);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search--logo i {
  font-size: 1.2rem;
  padding: 0 8px;
}
.uil-angle-down {
  font-size: 1.5rem;
  display: inline-block;
}
.nav--container2 {
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -0.07rem;
}
.nav--details--info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.nav--filter {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 0 0.5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.nav--filter:not(.active) {
  background: transparent;
}
.nav--filter.active {
  background: var(--color-light);
  color: rgb(63, 62, 62);
  padding-bottom: 0.5rem;
}
.nav--filter > h5 {
  font-size: 1rem;
}
.nav--phone {
  margin-right: 2.3rem;
}

/*****NAV DETAILS *****/
.nav--details--container {
  background: var(--color-light);
  width: 100%;
  top: 11rem;
  position: relative;
  height: 11rem;
  transform: translateY(-100%);
  transition: var(--transition);
}
.nav--details--container .detail-card {
  display: none;
}
.nav--details--container .active {
  display: block;
}
.close--nav--details {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  color: rgb(228, 75, 75);
  margin-left: 85%;
  width: 5%;
}
.uil-times {
  margin: 0 auto;
}
.close--nav--details:hover {
  cursor: pointer;
}
.nav--search--icon {
  display: none;
}
/********** Header Details ************/
header {
  position: relative;
  top: 11rem;
}
.header--container {
  height: 100vh;
}
.header--details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  position: absolute;
  bottom: 0;
  right: 4rem;
  padding: 3rem;
  transform: translateY(90%);
  background: rgb(255, 255, 255, 0.9);
}
.header--detail {
  background: var(--color-bg2);
  border-radius: 10px;
  padding: 1rem;
  transition: var(--transition);
}
.header--detail:hover {
  background: #007fff;
}
.header--detail a {
  color: var(--color-white);
}
.header--detail a > span {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 auto;
}
.header--image {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
}
/******* LANDING PAGE BLOG ********/
.blog--container {
  margin-top: 35rem;
  margin-bottom: 5rem;
}
.blog--details a {
  color: var(--color-bg1);
}
.blog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/****** RESEARCH SLIDE *******/
.research--container {
  display: grid;
  grid-template-columns: 60% 30%;
  width: 90%;
  gap: 2rem;
  margin-bottom: 5rem;
}
.research--left img {
  border: 1rem solid rgb(255, 255, 255, 0.5);
}
.research--right {
  position: relative;
  z-index: 24;
  margin-left: -8rem;
  margin-top: 3.5rem;
  background: #007fff;
  color: var(--color-white);
  width: 40vw;
  height: fit-content;
  padding: 1.5rem;
  box-shadow: 1rem 1rem 1rem rgb(0, 0, 0, 0.3);
}
.research--right p,
h3 {
  text-align: center;
}
.research--right p {
  margin-top: 1rem;
}
.research--right a h4 {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 2px solid var(--color-white);
  width: 30%;
  text-align: center;
  margin-top: 1rem;
  margin-left: 1rem;
  transition: var(--transition);
}
.research--right a h4:hover {
  border: 2px solid var(--color-white);
  background: transparent;
  color: var(--color-white);
}

/************ FOOTER *************/
.footer {
  margin-top: 10rem;
  background: var(--color-primary);
  color: var(--color-white);
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 3rem 0;
}
.footer__socials {
  width: 10rem;
  display: flex;
  gap: 2rem;
}
.footer__logo img {
  width: 6rem;
}
/* ======== MEDIA QUERIES ========= */
/************* TABLETS ************/
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .container {
    width: var(--container-width-md);
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  /*********** NAVBAR **************/
  .nav {
    height: 12rem;
  }
  .nav--details--container {
    display: none;
  }
  .nav--container {
    height: 12rem;
  }
  .nav--logo {
    margin-top: -1rem;
  }
  .logo a img {
    width: 6rem;
    margin-left: 2rem;
  }
  .toggle--nav {
    position: absolute;
    right: 5%;
    bottom: 0rem;
    display: flex;
    width: 4rem;
    padding: 0.5rem 0.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*background-color: var(--color-primary);*/
  }
  .toggle--nav button {
    background: transparent;
    color: var(--color-white);
    font-size: 2rem;
    margin: 0 auto;
  }
  .toggle--nav button:hover {
    cursor: pointer;
  }
  .toggle--nav button#close--menu {
    display: none;
  }
  .nav--menu {
    position: fixed;
    top: 12rem;
    right: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 2s ease;
  }
  .nav--menu li {
    height: 5.4rem;
    width: 100%;
    display: grid;
    place-items: center;
    background: var(--color-primary);
    box-shadow: -2rem 3rem 10rem rgb(0, 0, 0, 0.6);
    transition: var(--transition);
  }
  .nav--menu li:hover {
    background: var(--color-bg1);
  }
  .nav--menu li a:hover {
    color: var(--color-white);
    font-size: large;
  }
  .nav--container2 {
    display: none;
  }
  .search {
    position: absolute;
    left: 5%;
    bottom: 1rem;
  }
  /*************** HEADER ****************/

  .header--image {
    margin-top: -4rem;
    width: 1024px;
  }
  .header--details {
    background: rgb(138, 207, 240, 0.3);
    height: fit-content;
    margin-top: -90rem;
    top: 90rem;
  }
  /*------- SOME BLOGS --------*/
  .blog--container {
    padding-bottom: 5rem;
    margin: 10rem auto;
    height: fit-content;
  }
  .pagination {
    margin-bottom: 2rem;
  }
  /*************** LANDING PAGE BLOG ***************/
  .research--container {
    grid-template-columns: 1fr;
    margin-top: -8rem;
    height: 130vh;
    padding: 2rem 0;
    background: linear-gradient(
      325deg,
      var(--color-bg1),
      var(--color-primary),
      aqua
    );
  }
  .research--left {
    width: 84%;
    margin-left: 3rem;
    box-shadow: -3rem 3rem 3rem rgb(0, 0, 0, 0.3);
  }
  .research--right {
    left: 50%;
    top: -10rem;
    height: fit-content;
    width: 60%;
  }
  /*************** FOOTER ****************/
  .footer {
    width: 1024px;
  }
  .footer__container {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 100%;
  }
  .footer__container .footer1 {
    display: flex;
    gap: 1rem;
    margin-left: 10rem;
  }
  .footer__container .footer__2 {
    margin-left: 10rem;
  }
  .footer__container .footer__3 {
    margin-left: 10rem;
  }
  .footer__container .footer__4 {
    margin-left: 10rem;
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .container {
    width: var(--container-width-md);
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  /*********** NAVBAR **************/
  .nav {
    height: 12rem;
  }
  .nav--details--container {
    display: none;
  }
  .nav--container {
    height: 12rem;
  }
  .nav--logo {
    margin-top: -1rem;
  }
  .logo a img {
    width: 6rem;
    margin-left: 2rem;
  }
  .toggle--nav {
    position: absolute;
    right: 5%;
    bottom: 0rem;
    display: flex;
    width: 4rem;
    padding: 0.5rem 0.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*background-color: var(--color-primary);*/
  }
  .toggle--nav button {
    background: transparent;
    color: var(--color-white);
    font-size: 2rem;
    margin: 0 auto;
  }
  .toggle--nav button:hover {
    cursor: pointer;
  }
  .toggle--nav button#close--menu {
    display: none;
  }
  .nav--menu {
    position: fixed;
    top: 12rem;
    right: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 2s ease;
  }
  .nav--menu li {
    height: 5.4rem;
    width: 100%;
    display: grid;
    place-items: center;
    background: var(--color-primary);
    box-shadow: -2rem 3rem 10rem rgb(0, 0, 0, 0.6);
    transition: var(--transition);
  }
  .nav--menu li:hover {
    background: var(--color-bg1);
  }
  .nav--menu li a:hover {
    color: var(--color-white);
    font-size: large;
  }
  .nav--container2 {
    display: none;
  }
  .search {
    position: absolute;
    left: 5%;
    bottom: 1rem;
  }
  .nav--input {
    width: 18rem;
  }
  /*************** HEADER ****************/

  .header--image {
    margin-top: -4rem;
    width: 1024px;
  }
  .header--details {
    background: rgb(138, 207, 240, 0.3);
    height: fit-content;
    margin-top: -90rem;
    width: 100%;
    top: 90rem;
    left: 15%;
  }
  .header--detail {
    width: 100%;
  }
  /*------- SOME BLOGS --------*/
  .blog--container {
    padding-bottom: 5rem;
    margin: -10rem 10rem 5rem;
    height: fit-content;
  }
  .pagination {
    margin-bottom: 2rem;
  }
  /*************** LANDING PAGE BLOG ***************/
  .research--container {
    grid-template-columns: 1fr;
    width: 100%;
    margin: -8rem 8rem 2rem;
    height: 90vh;
    padding: 2rem 0;
    background: linear-gradient(
      325deg,
      var(--color-bg1),
      var(--color-primary),
      aqua
    );
  }
  .research--left {
    width: 84%;
    margin-left: 3rem;
    box-shadow: -3rem 3rem 3rem rgb(0, 0, 0, 0.3);
  }
  .research--right {
    left: 50%;
    top: -10rem;
    height: fit-content;
    width: 60%;
  }
  /*************** FOOTER ****************/
  .footer {
    width: 1024px;
  }
  .footer__container {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 100%;
  }
  .footer__container .footer1 {
    display: flex;
    gap: 1rem;
    margin-left: 10rem;
  }
  .footer__container .footer__2 {
    margin-left: 10rem;
  }
  .footer__container .footer__3 {
    margin-left: 10rem;
  }
  .footer__container .footer__4 {
    margin-left: 10rem;
  }
}
/* ========== PHONE ============ */
@media screen and (max-width: 600px) {
  /* Your mobile styles go here */
  .container {
    width: var(--container-width-sm);
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2;
  }
  h4 {
    font-size: 0.9rem;
  }
  /************ NAVBAR **************/
  .nav {
    height: 5rem;
    width: 100vw;
  }
  .nav--container {
    height: 5rem;
  }
  .nav--menu {
    top: 5rem;
  }
  .search {
    display: none;
    transition: all 400ms ease-in-out;
  }
  .nav--search--icon {
    display: block;
    position: absolute;
    background: linear-gradient(135deg, aqua, var(--color-primary));
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    right: 20%;
    bottom: 18px;
  }
  .display--search--bar {
    display: block;
  }
  .nav--search--icon i.uil {
    margin-left: 0.7rem;
    top: 2rem;
    font-size: 1.6rem;
    color: var(--color-white);
  }
  .nav--input {
    width: 15rem;
  }
  .nav--logo {
    height: 4rem;
    margin-top: 1.5rem;
    width: 70vw;
  }
  .logo a img {
    width: 6rem;
    margin-left: 2.5rem;
  }
  .logo--text {
    font-size: 1rem;
  }
  .search {
    top: 6rem;
  }
  /******** HEADER ********/
  header {
    width: 100vw;
    height: 100vh;
  }
  .header--image {
    top: -3rem;
    width: 100vw;
  }
  .header--details {
    grid-template-columns: 1fr;
    width: 90vw;
    left: 3%;
    top: 75rem;
  }
  .header--detail {
    width: 80vw;
    margin-left: -1.5rem;
  }
  /******** SOME BLOGS ********/
  .blog--container {
    margin: 20rem auto 0;
  }
  /*********** RESEARCH SLIDE ***********/
  /* Reset properties for .research--container */
  .research {
    background: linear-gradient(
      145deg,
      var(--color-primary),
      aqua,
      var(--color-bg1)
    );
    margin-top: -1rem;
    height: fit-content;
    padding-bottom: -3rem;
  }
  .research--container {
    background: red;
    display: initial;
    margin-top: -10rem;
    grid-template-columns: 1fr;
    width: 90%;
    gap: 2rem;
  }
  /* Reset properties for .research--left */
  .research--left img {
    box-shadow: black;
    background-color: var(--color-primary);
    margin-left: -1rem;
  }

  /* Reset properties for .research--right */
  .research--right {
    position: relative;
    z-index: 0;
    margin-left: -9rem;
    margin-top: 15.5rem;
    background: #007fff;
    color: var(--color-white);
    width: 80vw;
    height: fit-content;
    padding: 1.5rem;
    box-shadow: none;
  }

  .research--right p,
  h3 {
    text-align: center;
  }

  .research--right p {
    margin-top: 1rem;
  }

  .research--right a h4 {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 2px solid var(--color-white);
    width: 50%;
    margin: 1rem auto 0;
    text-align: center;
    transition: var(--transition);
  }
  .research--right a h4:hover {
    border: 2px solid var(--color-white);
    background: transparent;
    color: var(--color-white);
  }

  /******** FOOTER *********/
  .footer {
    width: 100vw;
  }
  .footer1 {
    flex-direction: column;
    position: relative;
    right: 20%;
    text-align: center;
    padding: 5px;
  }
  .footer__logo {
    margin: 0 auto;
  }
  .footer__2 {
    position: relative;
    right: 20%;
    text-align: center;
    padding: 5px;
  }
  .footer__3 {
    position: relative;
    right: 20%;
    text-align: center;
    padding: 5px;
  }
  .footer__4 {
    position: relative;
    right: 20%;
    text-align: center;
    padding: 5px;
  }
  .footer__container {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
}

